.parking-page {
  width: 100%;
  h1 {
    font-weight: 500 !important;
  }
  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .loading-container {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
  }
}
